#!/bin/bash

#export PATH=/usr/lib64/qt-3.3/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin

WORKDIR={{ arumon_work }}
LOGDIR={{ arumon_log }}
GIHOME=`grep "+ASM" /etc/oratab | awk -F: '{ print $2 }'`
TIMESTAMP=`date +%Y%m%d%H%M%S`

# Probas activas
CONTECTARAC={{ arumon_conectarac }}
CREATABLE={{ arumon_creatable }}
CRSSTAT={{ arumon_crsstat }}
MULTIPATH={{ arumon_multipath }}
LSDSK={{ arumon_lsdsk }}
STATSITE={{ arumon_statsite }}

DEFAULTSLEEP={{ arumon_defaultsleep }}

cd ${WORKDIR}

touch bucleactivo

if ${CONECTARAC}; then
  while [ -f bucleactivo ]; do date; ${WORKDIR}/arumon_test_conectarac.sh ; sleep ${DEFAULTSLEEP} ; done 1>${LOGDIR}/arumon_conectarac_${TIMESTAMP}.log 2>&1 &

if ${CREATABLE}; then
  while [ -f bucleactivo ]; do date; ${WORKDIR}/arumon_test_creatable.sh ; sleep ${DEFAULTSLEEP} ; done 1>${LOGDIR}/arumon_creatable_${TIMESTAMP}.log 2>&1 &

if ${CRSSTAT}; then
  while [ -f bucleactivo ]; do date; $GIHOME/bin/crsctl stat res -t ;sleep ${DEFAULTSLEEP} ; done  1>${LOGDIR}/arumon_crsstat_${TIMESTAMP}.log 2>&1 &

if ${MULTIPATH}; then
  while [ -f bucleactivo ]; do date; multipath -ll ;sleep ${DEFAULTSLEEP} ; done 1>${LOGDIR}/arumon_multipath_${TIMESTAMP}.log 2>&1 &

if ${LSDSK}; then
  while [ -f bucleactivo ]; do date; $GIHOME/bin/asmcmd lsdsk -kpt ;sleep ${DEFAULTSLEEP} ; done 1>${LOGDIR}/arumon_sitelsdsk_${TIMESTAMP}.log 2>&1 &

if ${STATSITE}; then
  while [ -f bucleactivo ]; do date; $GIHOME/bin/crsctl query cluster site -all ;sleep ${DEFAULTSLEEP} ; done 1>${LOGDIR}/arumon_querysite_${TIMESTAMP}.log 2>&1 &
